* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

label {
  cursor: pointer;
}

.inner {
  margin: 0 auto;
  max-width: 1140px;
}

.italic {
  font-style: italic;
}

.highlight {
  color: #F16D7F;
}

/* Header */
.header {
  background: #222222; 
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.header__left {
  display: flex;
  align-items: baseline;
  gap: 41px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

#header__check {
  display: none;
}

#header__check:checked ~ .mobile-menu {
  display: none;
}

.mobile-menu {
  position: absolute;
  top: 75px;
  right: 5%;
  z-index: 2;
  padding: 32px 74px 32px 32px;
  background: #fff;
}

.mobile-menu__heading {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.mobile-menu__title {
  text-transform: uppercase;
  display: block;
  margin: 24px 0 12px 0;
  color: #F16D7F;
  font-size: 14px;
}

.mobile-menu__list {
  padding-left: 20px;
  list-style: none;
  display: grid;
  gap: 11px;
  color: #6F6E6E;
  font-size: 14px;
}

.mobile-menu {
  position: absolute;
}

/* Promo */
.promo {
  background: #F1E4E6;
}

.promo-wrapper {
  display: flex;
  background: #F1E4E6;
}

.promo__content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo__info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.promo__title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__heading {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo__img {
  flex-basis: 50%;
}

.promo__img img {
  height: 100%;
  margin-bottom: -3px;
}

/* Sale */
.sale {
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale-wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.sale__item {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.sale__item:hover {
  transform: scale(1.2) translateY(-50px);
  z-index: 2;
  transition: 1s;
}

.sale__content {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale__item img {
  max-width: initial;
  width: 100%;
}

.item__big {
  min-height: 180px;
  grid-column: 1 / -1;
}

.item__big:hover {
  transform: scale(1.2) translateY(50px);
  z-index: 2;
  transition: 1s;
}

.sale__text {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale__heading {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.product-box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.product-box__text {
  margin-top: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
}

.product-box__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
  margin-top: 48px;
}

.product__img {
  width: 100%;
  z-index: -1;
}

.product-picturebox {
  position: relative;
  width: 100%;
  height: 420px;
}

.product-itemHover {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  z-index: 1;
  opacity: 0;
}

.product-itemHover:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 100%;

}

.product-buy-button {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  padding: 13px;
  border: solid #FFFFFF 1px;
  background: transparent;
  cursor: pointer;
}

.product-buy-button:hover {
  border-color: #E1E1E1;
  box-shadow: 0px 0px 10px #E1E1E1;
}

.product-buy-button-img {
  width: 24px;
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 16px;
  background: #F8F8F8;
}

.product__heading {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product__button {
  text-align: center;
  margin: 48x 0 0;
}

.product__button .button {
  cursor: pointer;
  padding: 15px 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: white;
  border: 1px solid #FF6A6A;
}

.button:hover {
  color: white;
  background-color:  #F16D7F;
  transition: .3s;
}

/* Advantages */
.advantages {
  background: #222224;
  margin-top: 95px;
  padding: 104px 0;
}

.advantages-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.advantages-item {
  display: grid;
  justify-items: center;
}

.advantages-heading {
  margin: 26px 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages-text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

/* Subscription */
.subscription {
  padding: 97px 0 126px;
  background-size: cover;
  background-position: center;
  background-image: url(images/fon.svg);
}

.subscription-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.staff {
  text-align: center;
}

.figure-text {
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 267px;
  color: #222224;
}

.input-email {
  display: grid;
  justify-items: center;
}

.input-email-text {
  font-style: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;

  margin-bottom: 32px;
}

.input-email-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.input-email-submit {
  display: flex;
}

.input-email-submit-subscribe {
  padding: 0 20px 0 20px;
  height: 49px;
  border-radius: 30px 0 0 30px;

  border: none;
  width: 256px;
  background: #E1E1E1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  color: #222224;
  opacity: 0.67;
}

.input-email-submit-btn {
  border-radius: 0 30px 30px 0;

  border: none;
  width: 100px;
  background: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;

  cursor: pointer;
}

/* Footer */
.footer {
  padding: 24px 0;
  background: #222224;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer-items {
  display: flex;
  gap: 10px;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: white;
}

.footer-item:hover {
  background-color: #F16D7F;
  
}

@media (max-width: 1140px) {
  .inner {
    margin: 0 16px;
  }

  .header .inner {
    margin: 0 26px;
  }

  .mobile-menu {
    right: 0;
  }

  .promo__title {
      font-size: 40px;
      line-height: normal;
  }

  .promo__heading {
      font-size: 22px;
      line-height: normal;
  }

  .item__big {
      min-height: auto;
  }

  .sale {
      margin: 0 16.5px 0 30px;
      gap: 19px;
  }

  .sale-wrapper {
    gap: 10px;
  }

  .product-box__content {
    grid-template-columns: auto auto;
    gap: 16px;
    padding: 0 16px;
  }

  .product-picturebox {
    margin-bottom: -4px;
    height: fit-content;
  }

  .product__button {
      margin: 32.98px 0 71.02px;
  }

  .subscription {
      flex-direction: column;
      justify-content: space-evenly;
      gap: 50px;
      background-position: left;
  }

  .advantages {
      display: grid;
      justify-content: center;
      padding: 60px 0;
  }

  .advantages-wrapper {
    flex-direction: column;
  }

  .figure-text {
      font-size: 16px;
  }
}

@media (max-width: 425px) {
  .img__sale {
      width: 425px;
  }
}

@media (max-width: 768px) {
  .inner {
    margin: 0 16px;
  }
}

@media (max-width: 767px) {

  .inner {
    margin: 0 10px;
  }

  .sale-wrapper {
    display: block;
  }

  .header__link-site {
      display: none;
  }
  
  .promo {
      padding: 148px 0;
  }

  .promo-wrapper {
    display: block;
  }

  .promo__img {
      display: none;
  }

  .promo__title {
      font-size: 38px;
  }

  .promo__heading {
      font-size: 20px;
  }

  .promo__content {
    padding-left: initial;
    flex-direction: row;
  }

  .sale {
      display: flex;
      flex-direction: column;
  }

  .item__big {
      height: 111px;
      background-size: cover;
      background-position: center;
      background-image: url(images/advertisement004.jpg);
  }

  .img__big {
      height: 100%;
  }

  .product-box__text {
      font-size: 14px;
      margin-top: 0;
  }

  .product-box__content {
    grid-template-columns: initial;
  }

  .input-email-text {
      font-size: 14px;
  }

  .input-email-title {
      font-size: 22px;
  }

  .advantages {
    padding: 81px 0;
  }

  .subscription {
    padding: 67px 0 100px;
  }

  .subscription-wrapper {
    gap: 54px;
  }

  .input-email-submit-subscribe {
      width: 150px;
  }

  .footer-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .footer-text {
      font-size: 14px;
  }

}

@media (max-width: 320px) {
  .header .inner {
    padding: 0 20px;
  }

  .header__left {
      gap: 20px;
  }

  .product {
      max-width: 320px;
      margin: 0 30px 0 30px;
  }

  .promo {
      padding: 100px 0;
  }

  .promo__title {
      font-size: 28px;
  }

  .promo__heading {
      font-size: 14px;
  }
}
