// colors
$color-dark: #222222;
$color-light: #fff;
$color-secondary: #5D5D5D;
$color-product-background: #F7F7F7;
$color-accent-background: #F8F3F4;
$color-accent: #F16D7F;
$color-light-border: #EAEAEA;

// breakpoints
$mobile: 319px;
$tablet: 767px;
$desktop: 1190px;

